.send-form {
  width: 100%
}

.send-form__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.form__input {
  width: 70%;
  height: 40px;
  border: 2px lightgray solid;
  border-radius: 10px;
  padding-left: 10px;
  user-select: none;
  outline: none;
  font-size: 22px;
}

.form__button {
  font-size: 22px;
  background-color: dodgerblue;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.form__button:hover {
  background-color: white;
  color: dodgerblue;
}