.chat-page {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px lightgray solid;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}